.DS_Store
*.pyc
__pycache__/
node_modules/
dist/
education/Education Files/
geospatial-analysis/0830Temperorary/
engineering/Wetlab/
plant/Agar/
plant/Hydroponic system/
plant/Meeting with Kyle/
plant/Soil planting/
plant/*.pptx
plant/*.docx
plant/*.xlsx
plant/*.jpg
plant/*.png
plant/*.heic
plant/*.HEIC
engineering/*.pptx
